<%= simple_form_for(meal_plan) do |f| %>
  <%= f.error_notification %>

  <%= f.input :day, as: :date, html5: true, label: "Date",
      input_html: { value: meal_plan.day || Date.today } %>

  <hr class="my-4">
  <h6 class="text-uppercase text-muted small fw-bold mb-3">Meals</h6>

  <%= f.simple_fields_for :recipe_meal_plans do |rmp| %>
    <div class="row g-3">
      <div class="col-md-6">
        <%= rmp.input :meal_type,
            collection: ["Breakfast", "Lunch", "Dinner", "Snack"],
            prompt: "Pick a meal type",
            label: "Meal type" %>
      </div>
      <div class="col-md-6">
        <%= rmp.association :recipe,
            label: "Recipe",
            prompt: "Pick a recipe" %>
      </div>
    </div>
  <% end %>

  <div class="d-flex gap-2 mt-4">
    <%= f.submit (meal_plan.persisted? ? "Save changes" : "Create meal plan"),
        class: "btn btn-dark" %>
    <%= link_to "Cancel", meal_plans_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
