<div class="container py-4">

  <%# ---Today's Meal Plan part--- %>
  <div class="meal-plan-section mb-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="fw-bold mb-0">Today's Meal Plan</h1>
      <%= link_to "Add Meal", new_meal_plan_path, class: "btn btn-outline-primary border-radius-5 px-3" %>
    </div>

    <div class="table-responsive shadow-lg rounded-3 bg-white p-3">
      <table class="table table-borderless align-middle text-center mb-0">
        <thead class="text-secondary small">
          <tr class="fs-6">
            <th style="width: 15%;"></th>
            <th style="width: 21.25%;"><i class="bi bi-sun-fill text-warning d-block fs-4 mb-1"></i>Breakfast</th>
            <th style="width: 21.25%;"><i class="bi bi-egg-fried text-success d-block fs-4 mb-1"></i>Lunch</th>
            <th style="width: 21.25%;"><i class="bi bi-moon-stars-fill text-primary d-block fs-4 mb-1"></i>Dinner</th>
            <th style="width: 21.25%;"><i class="fa-solid fa-cookie-bite text-danger d-block fs-4 mb-1"></i>Snack</th>
          </tr>
        </thead>

        <tbody>
          <%# Searching for today plan %>
            <% if @today_plan %>
            <tr>
              <td class="fw-bold fs-6 text-start ps-3 align-middle text-secondary text-success pb-4" style="width: 100px; padding: 25px 0;">
                <%= @today_plan.day.strftime("%A, %d %b") %>
              </td>

              <% meal_types = ["Breakfast", "Lunch", "Dinner", "Snack"] %>
              <% meal_types.each do |type| %>
              <td class="p-1">
                <%# Search for meal_type for today %>
                <% meals = @today_plan.recipe_meal_plans.select { |rmp| rmp.meal_type == type } %>

                <% if meals.any? %>
                  <% meals.each do |rmp| %>
                    <div class="text-center">
                      <%= link_to recipe_path(rmp.recipe), class:"text-decoration-none" do %>

                      <div class="small fw-bold mt-1 d-flex justify-content-center gap-2">
                        <%= rmp.recipe.name %>
                      <%# Edit meal plan  %>
                        <%= link_to edit_recipe_meal_plan_path(rmp), class:"text-dark" do %>
                        <i class="bi bi-pencil-square"></i>
                        <% end %>
                      <%# Delet meal plan  %>
                        <%=link_to recipe_meal_plan_path(rmp), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },  class:"text-dark" do %>
                        <i class="bi bi-trash"></i>
                        <% end %>
                      </div>


                    </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= link_to "+", new_meal_plan_path(day:Date.today, meal_types: type), class: "btn btn-outline-light text-muted btn-sm rounded-circle fs-5" %>
                <% end %>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%# -- Weekly's Meal Plan part--- %>
  <div class="meal-plan-section">
    <h1 class="fw-bold mb-4">Weekly's Meal Plan</h1>
    <div class="d-flex justify-content-between table-responsive shadow-lg rounded-3 bg-white p-3">
      <table class="table table-borderless align-middle text-center mb-0">
        <thead class="text-secondary small">
          <tr class="fs-6">
            <th style="width: 15%;"></th>
            <th style="width: 21.25%;"><i class="bi bi-sun-fill text-warning d-block fs-4 mb-1"></i>Breakfast</th>
            <th style="width: 21.25%;"><i class="bi bi-egg-fried text-success d-block fs-4 mb-1"></i>Lunch</th>
            <th style="width: 21.25%;"><i class="bi bi-moon-stars-fill text-primary d-block fs-4 mb-1"></i>Dinner</th>
            <th style="width: 21.25%;"><i class="fa-solid fa-cookie-bite text-danger d-block fs-4 mb-1"></i>Snack</th>
          </tr>
        </thead>

        <tbody>
          <%# Looping weekly meal plan %>
            <% @weekly_plans.each do |meal_plan| %>
              <tr style="border-bottom: 1px solid #dee2e6;">
                <td class="fw-bold text-start ps-3 fs-6 align-middle text-secondary text-success  pt-5 pb-5" style="width: 100px; padding: 25px 0;">
                  <%= meal_plan.day.strftime("%A, %d %b") %>
                </td>

                <% meal_types = ["Breakfast", "Lunch", "Dinner", "Snack"] %>
                <% meal_types.each do |type| %>
                  <td class="p-1">
                    <% meals = meal_plan.recipe_meal_plans.select { |rmp| rmp.meal_type == type } %>

                    <% if meals.any? %>
                    <% meals.each do |rmp| %>
                      <div class="recipe-thumbnail text-center">
                        <%= link_to recipe_path(rmp.recipe), class:"text-decoration-none" do %>

                          <div class="small fw-bold mt-1 d-flex justify-content-center gap-2">
                          <%= rmp.recipe.name %>
                        <%# Edit meal plan  %>
                          <%= link_to edit_recipe_meal_plan_path(rmp), class:"text-dark" do %>
                          <i class="bi bi-pencil-square"></i>
                          <% end %>
                        <%# Delet meal plan  %>
                          <%=link_to recipe_meal_plan_path(rmp), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },  class:"text-dark" do %>
                          <i class="bi bi-trash"></i>
                          <% end %>
                        </div>

                      </div>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= link_to "+", new_meal_plan_path(day: (Date.today +1), meal_types: type), class: "btn btn-outline-light text-muted btn-sm rounded-circle fs-5" %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
