<%= simple_form_for(task) do |f| %>
  <div class="d-flex">
    <div class="pe-4">Done?</div>
    <%= f.input_field :status, as: :boolean, boolean_style: :inline %>
  </div>
  <div class="mt-2">
    <%= f.input :name, label: "Name" %>
  </div>
  <%= f.input :description %>
  <div class="d-flex">
    <div class="pe-4">
      <%= f.input :start_date, as: :date, label: "Start date",
      input_html: { value: Date.today} %>
      <%= f.input :task_points, as: :integer, label: "Number of rewards points", collection: 1..10, input_html: { value: '1' } %>
    </div>
    <div>
      <%= f.input :end_date, as: :date , label: "End date", input_html: { value: Date.today } %>
      <%= f.input :frequency, as: :integer, label: "Frequency (nb of days per week)", input_html: { value: '0' } %>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
