<!-- Badge -->
<div class="mb-0 mt-1 d-flex justify-content-between badge bg-primary-subtle
            rounded-4 text-secondary py-1 align-items-center">
  <div>
    <%= link_to calendars_path(start_date: task.start_date),
        style:"text-decoration: none; cursor: pointer; color: inherit;" do %>
      <i class="fa-solid fa-calendar-days fw-bold" ></i>
      <%= task.start_date %>
      <% if task.start_date != task.end_date %>
        <i class="fa-solid fa-arrow-right"></i>
        <%= task.end_date %>
      <% end %>
    <% end %>
  </div>
  <div data-controller="task-status" data-task-status-id-value="<%= task.id %>">
    <%= render "task_completing", task: task, user: user  %>
  </div>
  <div>
    <i class="fa-solid fa-award"></i>
    <%= task.task_points > 1 ? "#{task.task_points} pts" : "#{task.task_points} pt"  %>
  </div>
</div>

<!-- Description -->
<div class="mt-2 recipe-card-meta mb-0">
  <%= task.description? ? task.description : "No description" %>
</div>
