<div class="d-flex align-items-center gap-3 mt-3 mb-3">
  <h2 class="mb-0"><%= title %></h2>
  <% if policy(Task).new? %>
    <%= link_to new_task_path(:user => user), class: "text-decoration-none text-secondary" do %>
      <i class="bi bi-plus-circle fs-4"></i>
    <% end %>
    <%= link_to task_templates_path, class: "text-decoration-none text-secondary" do %>
      <i class="fa-regular fa-file-lines fs-4"></i>
    <% end %>
  <% end %>
</div>
<% if tasks.any? %>
  <div class="row g-4">
    <% tasks.each do |task| %>
      <div class="col-md-4">
        <div
          class="card base-card task-card <%= policy(task).show? ? 'card-hover' : '' %>"
          <%= policy(task).show? ? "data-controller=clickable data-clickable-url-value=#{task_path(task)} data-action=click->clickable#go style=cursor:pointer;" : "" %>
        >
          <div class="card-body">
            <h5 class="card-title d-flex align-items-start gap-1">
              <%= render "task_title", task: task %>
            </h5>

            <%= render "task_card", task: task, user: user  %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card border-0 shadow-sm h-100 bg-white">
        <div class="card-body">
          <h5 class="card-title text-secondary">
            You have no tasks assigned yet
          </h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
