<h2 class="mt-3 d-flex">
  <%= title %>
  <% if policy(Task).new?  %>
      <%= link_to new_task_path(:user => user) do %>
          <div style= "text-decoration: none; cursor: pointer; color: inherit;">
            <i class="fa-solid fa-plus text-body-secondary fs-4 ps-2"></i>
          </div>
      <% end %>
    <%= link_to task_templates_path do %>
      <div style= "text-decoration: none; cursor: pointer; color: inherit;">
        <i class="fa-regular fa-file-lines text-body-secondary fs-4 ps-2"></i>
      </div>
    <% end %>
  <% end %>
</h2>
<% if tasks.any? %>
  <div class="row g-4">
    <% tasks.each do |task| %>
      <div class="col-md-4">
        <div
          class="card base-card card-hover border-0 shadow-sm h-100 bg-white"
          data-controller="clickable"
          data-clickable-url-value="<%= task_path(task) %>"
          data-action="click->clickable#go"
          style="cursor: pointer;"
        >
          <div class="card-body">
            <h5 class="card-title d-flex gap-1">
              <%= render "task_title", task: task %>
            </h5>

            <%= render "task_card", task: task, user: user  %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card border-0 shadow-sm h-100 bg-white">
        <div class="card-body">
          <h5 class="card-title text-secondary">
            You have no tasks assigned yet
          </h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
