<div class="container py-5 w-50">

  <div class="card shadow-sm">
    <div class="card-body bg-white">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2><%= @task.name %></h2>
        <div class="text-secondary">
          ←
          <%= link_to "Back to tasks", tasks_path, class: "link-secondary link-underline-secondary" %>
        </div>
      </div>

      <div class = "d-flex gap-2 mt-1 mb-4">
        <p>
          <span class="rounded-pill bg-secondary-subtle text-secondary fw-bold  px-3 py-2 me-1">
              <i class="fa-regular fa-user"></i>
              <%= @task.user.name %>
          </span>
        </p>
        <p>
          <span class="rounded-pill bg-secondary-subtle text-secondary fw-bold px-3 py-2 me-1">
            <% if @task.status %>
              <i class="fa-regular fa-circle-check"></i> Done
            <% else %>
              <i class="fa-regular fa-circle"></i> To do
            <% end %>
          </span>
        </p>
        <p>
          <span class="rounded-pill bg-secondary-subtle text-secondary fw-bold  px-3 py-2 me-1">
            <i class="fa-solid fa-award"></i>
            <%= @task.task_points > 0 ? "#{@task.task_points} points" : "#{@task.task_points} point"  %>
          </span>
        </p>
      </div>

      <h5 class="fw-bold mt-4">Date and frequency</h5>

      <div class="mb-3 d-flex flex-column justify-content-start align-items-start">
        <div class="text-secondary fw-bold">
          <i class="fa-solid fa-calendar-days"></i>
          <%= @task.start_date %>
          <% if @task.start_date != @task.end_date %>
            <i class="fa-solid fa-arrow-right"></i>
            <%= @task.end_date %>
          <% end %>
        </div>
        <div class="text-secondary">
          <% if @task.days.any? || @task.montly_frequency > 0 %>
            No repeat
          <% else %>
            <% @task.days.each do |day| %>
              <%= day %>
            <% end %>
          <% end %>
        </div>
      </div>

      <h5 class="fw-bold mt-4">Description</h5>
      <div class="mt-2 mb-5 text-secondary ">
        <%= @task.description? ? @task.description : "No description" %>
      </div>

    </div>
  </div>

</div
