<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>My Recipes</h1>
    <%= link_to "Add New Recipe", new_recipe_path, class: "btn btn-secondary" %>
  </div>

  <div class="mb-4">
    <%= form_with url: recipes_path, method: :get, local: true, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search recipes...", class: "form-control me-2" %>
      <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
    <% end %>
  </div>

  <% if @recipes.any? %>
    <div class="row g-4">
      <% @recipes.each do |recipe| %>
        <div class="col-md-4">
          <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
              <h5 class="card-title text-secondary"><%= recipe.name %></h5>
              <p class="text-muted mb-1"><i class="fas fa-fire me-1"></i> <%= recipe.calories %> kcal</p>
              <p class="text-muted small"><%= Array(recipe.keywords.split(",")).first(3).join(", ") %></p>
              <div  class="d-flex justify-content-between">
                <%= link_to "View Recipe", recipe_path(recipe), class: "btn btn-outline-secondary btn-sm rounded-pill" %>
                <%= link_to "Add to meal plan", new_meal_plan_path(recipe_id: recipe.id), class: "btn btn-outline-secondary btn-sm rounded-pill" %>
                <%= link_to "Delete recipe", recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm rounded-pill" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted">No recipes saved yet. Ask the AI for a recipe!</p>
    <%# <%= link_to "Ask AI for a recipe", chats_path, data: { turbo_method: :post }, class: "btn btn-secondary rounded-pill" %> %>
  <% end %>
</div>
