<div class="container mt-4" data-controller="reward-template">
  <h1>Create a Reward</h1>

  <% if @reward_templates.any? %>
    <h5 class="mt-3">Reward Library</h5>
    <div class="row mb-4">
      <% @reward_templates.each do |template| %>
        <div class="col-6 col-md-3 col-lg-2 mb-3">
          <div class="card h-100 text-center">
            <% if template.photo.attached? %>
              <%= image_tag template.photo, class: "card-img-top", style: "height: 100px; object-fit: cover;" %>
            <% end %>
            <div class="card-body p-2">
              <p class="card-text small mb-1"><%= template.name %></p>
              <button type="button" class="btn btn-outline-primary btn-sm"
                data-template-id="<%= template.id %>"
                data-template-name="<%= template.name %>"
                data-template-photo-url="<%= template.photo.attached? ? url_for(template.photo) : '' %>"
                data-template-reward-points="<%= template.reward_points %>"
                data-action="reward-template#fill">
                +
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render "form", reward: @reward, family_members: @family_members %>
</div>
