<div class="modal-body p-4 text-center">

  <%= simple_form_for(@member, url:families_path, method: :post) do |f| %>
    <div class="mx-auto mb-3" style="width: 120px; height: 120px; border-radius: 50%; background: #eee; overflow: hidden; border: 2px dashed #ccc; position: relative;">
      <div class="mt-4"></div>
      <%= f.input :photo %>
    </div>
  <%#= Select Relationship %>
    <div class="text-start">
      <strong><%= f.input :role, collection: ['Dad', 'Mon', 'Son', 'Daughter'], prompt:"Select Relationship", input_html: { class:"form-select bg-light border-0 rounded-4" }, label: "Relationship" %></strong>
    </div>
  <%#= Add name %>
    <div class="text-start">
      <strong><%= f.input :name, label: "Name", placeholder: "Enter name", input_html: { class: "bg-light border-0 rounded p-2" } %></strong>
    </div>
  <%#= Select Birth date %>
    <div class="text-start">
      <strong><%= f.input :birthdate, as: :string, label: "Birthday", placeholder: "DD/MM/YY", input_html: { class: "bg-light border-0 rounded p-2", type: "date" } %></strong>
    </div>

    <%= f.button :submit, "Add", class: "btn btn-primary w-100 py-2 mt-3 rounded-pill fs-5" %>
  <% end %>
</div>
