<div class="container mt-4 col-md-8 bg-white rounded-4">
  <h2 class="ps-2 pt-2">Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
    </div>

    <div class="d-flex gap-2">
      <div class="form-actions">
        <%= f.button :submit, "Send me password reset instructions" %>
      </div>
      <%= render "devise/shared/links" %>
  <% end %>
</div>
