<%= simple_form_for(@event) do |f| %>

  <%= f.input :title, label: "Title", wrapper_html: { class: "mb-3" } %>

  <%= f.input :start_time, as: :datetime, html5: true, label: "Date and time",
      wrapper_html: { class: "mb-4" } %>

  <div class="d-flex gap-2 mt-4">
    <%= f.submit class: "btn btn-primary rounded-4" %>
    <%= link_to "Cancel", events_path, class: "btn btn-outline-secondary rounded-4" %>
  </div>

<% end %>
