<!-- Substribing to action cable -->
<%= turbo_stream_from @chat %>

<div class="container py-4">

  <div class="d-flex justify-content-between align-items-center mb-3">

    <h2 class="text-shadow" id="chat_title">
      <% unless @chat.title == "Untitled" %>
        <%= @chat.title %>
      <% end %>
    </h2>

    <%= link_to chats_path, class: "btn d-inline-flex align-items-center" do %>
      <i class="bi bi-arrow-left me-2"></i>
      Back to chats
    <% end %>

  </div>

  <div id="messages">
    <%= render "messages/messages", messages: @chat.messages %>
  </div>

  <div id="new_message_container" class="ps-3 pb-0 pt-3">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>

</div>
