<% unless current_user %>
  <%= content_for(:navbar_class, "navbar-home") %>
<% end %>

<<<<<<< HEAD
<% if current_user && current_user.role %>
  <div class="container d-flex flex-column min-vh-100 py-4" style="min-height: calc(100vh - 56px);">

    <!-- Top main button -->
    <div class="row mb-4">
      <div class="col-12">
        <%= link_to meal_plans_path, class: "btn btn-secondary w-100 py-4 fs-4" do %>
          <p class="mb-2">
            <strong><%= Date.today.strftime("%A, %B %d") %></strong>
          </p>
        <% end %>
      </div>
    </div>

    <!-- Row 2: 3 buttons -->
    <div class="row g-4 mb-3" style="flex: 1;">
      <div class="col-md-4 d-flex">
        <%= link_to "Recipes", recipes_path, class: "btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center fs-5" %>
      </div>
      <div class="col-md-4 d-flex">
        <%= link_to "Tasks", tasks_path, class: "btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center fs-5" %>
      </div>
      <div class="col-md-4 d-flex">
        <%= link_to "Rewards", rewards_path, class: "btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center fs-5" %>
      </div>
    </div>

    <!-- Row 3: 3 buttons -->
    <div class="row g-4 mb-3" style="flex: 1;">
      <div class="col-md-4 d-flex">
        <!-- TODO add link family -->
        <%= link_to "Family", families_path, class: "btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center fs-5" %>
      </div>
      <div class="col-md-4 d-flex">
        <!-- TODO add link calendar -->
        <%= link_to "Calendar", calendars_path, class: "btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center fs-5" %>
      </div>
      <div class="col-md-4 d-flex">
        <!-- TODO add link chatbot -->
        <%= link_to "Chatbot", chats_path, class: "btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center fs-5" %>
      </div>
    </div>

  </div>
<% elsif current_user && !current_user.role %>
  <div class="container py-5">
    <div class="row g-4 mb-4">
      <div class="col-md-8">
        Your subscription to <%= current_user.family.name %> is waiting for validation.
      </div>
    </div>
  </div>
<% else %>
  <!-- HERO / BANNER -->
  <div class="banner">
    <div class="banner-content text-center">
      <h1>Bring harmony to your family life</h1>
      <p>Meals, tasks, and rewards — all organized in one place</p>

      <%= link_to "Get Started", new_user_registration_path, class: "btn btn-secondary btn-lg me-2" %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-light btn-lg" %>
    </div>
  </div>
<% end %>
