<h1>Pages#home</h1>

<nav>
  <ul>
    <li><%= link_to "Recipes", recipes_path %></li>
    <%# <li><%= link_to "Meal Plans", meal_plans_path</li> %> %>
    <%# <li><%= link_to "Tasks", tasks_path</li> %> %>
    <%# <li><%= link_to "Rewards", rewards_path</li> %> %>
    <%# <li><%= link_to "Calendar", calendar_path</li> %> %>
  </ul>
</nav>
