<div class="container py-5">

  <!-- Top main button -->
  <div class="row mb-4">
    <div class="col-12">
      <button class="btn btn-secondary w-100 py-4 fs-4">
        <p class="mb-2">
            <strong><%= Date.today.strftime("%A, %B %d") %></strong>
        </p>
      </button>
    </div>
  </div>

  <!-- Row 2: 3 buttons -->
  <div class="row g-4 mb-4">
    <div class="col-md-4">
      <%= link_to "Recipes", recipes_path, class: "btn btn-outline-secondary w-100 py-5" %>
    </div>
    <div class="col-md-4">
      <%= link_to "Tasks", tasks_path, class: "btn btn-outline-secondary w-100 py-5" %>
    </div>
    <div class="col-md-4">
      <%= link_to "Rewards", rewards_path, class: "btn btn-outline-secondary w-100 py-5" %>
    </div>
  </div>

  <!-- Row 3: 3 buttons -->
  <div class="row g-4">
    <div class="col-md-4">
      <!-- TODO add link family -->
<<<<<<< HEAD
      <%= link_to "Family", families_path, class: "btn btn-outline-secondary w-100 py-5" %>
=======
      <%= link_to "Family", family_path(current_user.family), class: "btn btn-outline-secondary w-100 py-5" %>
>>>>>>> dc5a26c9323ab31e07ce614893cc7dd98016fadf
    </div>
    <div class="col-md-4">
      <!-- TODO add link calendar -->
      <button class="btn btn-outline-secondary w-100 py-5">Calendar</button>
    </div>
    <div class="col-md-4">
      <!-- TODO add link chatbot -->
      <button class="btn btn-outline-secondary w-100 py-5">Chatbot</button>
    </div>
  </div>

</div>
