<%= turbo_frame_tag "modal" do %>
  <%# ใช้ Style ตรงนี้เพื่อทำ Overlay แทนการพึ่งพา Bootstrap JS %>
  <div class="modal-custom-overlay" style="position: fixed; inset: 0; background: rgba(0,0,0,0.5); z-index: 9999; display: flex; align-items: center; justify-content: center;">
    <div class="modal-card" style="background: white; padding: 20px; border-radius: 8px; width: 400px; max-width: 90%;">

      <div class="modal-header d-flex justify-content-between align-items-center mb-3">
        <h3 class="m-0"><%= @date.strftime("%d %B %Y") %></h3>
      <%# Close and pop up and reset modal %>
        <%= link_to "", calendars_path, class: "btn-close", style: "text-decoration: none; font-size: 24px; color: #000;", data: { turbo_frame: "_top" } %>
      </div>

      <div class="modal-body">
      <%# Show Events lists %>
        <h6 class="text-warning mt-2 fw-bold">● <%= @events.count > 0 ? @events.count : "No" %> Events</h6>
        <% @events.each do |event| %>
          <div class="item-row border-bottom py-1 ms-4">
            <%= event.title %>
          </div>
        <% end %>

      <%# Show Tasks lists %>
        <h6 class="text-primary mt-2 fw-bold">● <%= @tasks.count > 0 ? @tasks.count : "No" %> Tasks</h6>
        <% @tasks.each do |task| %>
          <div class="item-row border-bottom py-1 ms-4">
            <%= task.name %>
          </div>
        <% end %>

      <%# Show Meals lists %>
        <% meals_count = @meal_plans.sum { |plan| plan.recipe_meal_plans.count } %>
        <h6 class="text-success mt-2 fw-bold"> ● <%= meals_count.zero? ? "No meals" : "#{meals_count} Meals" %></h6>
        <% @meal_plans.each do |plan| %>
        <% plan.recipe_meal_plans.each do |meal| %>
          <div class="item-row border-bottom py-1 ms-4">
            <%= meal.recipe.name %>
          </div>
          <% end %>
        <% end %>
      </div>

      <% if policy(Event).new? || policy(Task).new? || policy(MealPlan).new? %>
        <div class="modal-footer mt-4 d-flex gap-2">
          <% if policy(Event).new? %>
            <%= link_to "Add an event", new_event_path(date: @date), class: "btn btn-outline-warning w-100", data: { turbo: false } %>
          <% end %>
          <% if policy(Task).new? %>
            <%= link_to "Add a task", new_task_path(date: @date), class: "btn btn-outline-primary w-100", data: { turbo: false } %>
          <% end %>
          <% if policy(MealPlan).new? %>
            <%= link_to "Choose recipe", recipes_path(date: @date), class: "btn btn-outline-success w-100", data: { turbo: false } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
