<div class="container mt-5">
  <h1 class="text-center mb-4 fs-bold">Calendar</h1>

  <%= month_calendar(events: @events) do |date, events| %>
  <%= link_to day_detail_calendars_path(date: date), data: { turbo_frame: "modal" }, class:"text-decoration-none text-dark" do %>
    <div class="calendar-day" style="height: 100px;" onclick="openDayDetail('<%= date %>')">
      <div class="date-number"><%= date.day %></div>
  <% end %>

      <% events.each do |event| %>
        <div class="event-badge text-truncate"><%= event.title %></div>
      <% end %>

    <%#Show how many Task %>
      <% day_tasks = @tasks.select { |task| task.end_date.to_date == date } %>
      <% if day_tasks.any? %>
        <small class="text-primary fs-6">● <%= day_tasks.count %> Tasks</small>
      <% end %>

    <%#Show how many meal_plan %>
      <% day_meals = @meal_plans.select { |meal| meal.day == date } %>
      <% if day_meals.any? %>
        <small class="text-success fs-6">● <%= day_meals.count %> Meals</small>
      <% end %>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "modal" %>

<script>
  function openDayDetail(date) {
    const contentArea = document.getElementById('modal-content-area');

    //Fetch to route to get data on this date
    fetch(`/calendars/day_detail?date=${date}`)
      .then(response => response.text())
      .then(html => {
        contentArea.innerHTML = html;
        const myModal = new bootstrap.Modal(document.getElementById('memberModal'));
        myModal.show();
      });
  }
</script>
