<div class="cal">

  <div class="cal__head">
    <div class="cal__nav">
      <%= link_to calendar.url_for_previous_view, class: "cal__arrow" do %>
        <svg viewBox="0 0 24 24"><polyline points="15 18 9 12 15 6"/></svg>
      <% end %>
    </div>

    <div class="cal__month">
      <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
      <%= link_to 'Today', calendars_path, class: "cal__today" %>
    </div>

    <div class="cal__nav">
      <%= link_to calendar.url_for_next_view, class: "cal__arrow" do %>
        <svg viewBox="0 0 24 24"><polyline points="9 18 15 12 9 6"/></svg>
      <% end %>
    </div>
  </div>

  <div class="cal__grid">
    <% date_range.slice(0, 7).each do |day| %>
      <div class="cal__day-header"><%= t('date.abbr_day_names')[day.wday] %></div>
    <% end %>

    <% date_range.each do |day| %>
      <div class="cal__cell <%= calendar.td_classes_for(day) %>">
        <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
          <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
        <% else %>
          <% passed_block.call day, sorted_events.fetch(day, []) %>
        <% end %>
      </div>
    <% end %>
  </div>


</div>
