<!DOCTYPE html>
<html>
  <head>
    <title>Famble</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Famble is the all-in-one family app to plan meals, organize tasks, and motivate kids with rewards. Save recipes, generate meal plans, manage chores, and stay connected as a family.">

    <meta property="og:title" content="Famble - Plan Meals, Manage Tasks & Motivate Your Kids">
    <meta property="og:description" content="Plan meals, manage chores, and motivate your kids with rewards. Famble keeps your whole family organized in one simple app.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://famble-49580644201f.herokuapp.com">
    <meta property="og:image" content="<%= asset_url('og-image.png') %>" />

    <%= favicon_link_tag %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <%= yield :head %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
